:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 5%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #5c4a38;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  /* pointer-events: none; */
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  width: 40rem;
  height: 4rem;
  display: flex;
  transform-origin: top;
  transition: 0.3s;
  background-color: #fff;
  align-items: center;
  transform: scaleY(0);
}

.search-form input{
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--bg);
}

.search-form label{
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--bg);
}

.navbar .search-form.active{
  transform: scaleY(1);
}

/* Hero */

.hero {
  display: flex;
  align-items: center;
  background-image: url("../img/kopibg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  position: relative;
}

.hero::after{
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(0deg , rgba(1,1,3,1) 10%,rgba(2555,255,255,0) 50%);
    bottom: 0;
}

.hero .content{
    padding:1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1{
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    line-height: 1.2;
}
.hero .content h1 span{
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top:0.5rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px black;
    mix-blend-mode: difference;
}

.hero .content .cta{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 3rem;
    color:#fff;
    font-size: 1.4rem;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);

}

/* Tentang Kami */
.tentang-kami h1,
.menu h1,
.contact h1{
    padding:7.5rem 7% 1rem;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 2rem;
}
.tentang-kami h1 span,
.menu h1 span,
.contact h1 span{
    color: var(--primary);
}
.tentang-kami .row{
    display: flex;
    padding:1.4rem 7%;
}
.tentang-kami .row .forimg{
    flex:1 1 45rem;
}
.tentang-kami .row .forimg img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.tentang-kami .row .content{
    flex:1 1 30%;
    padding-left: 1%;
    /* margin-top: -0.5%; */
}

.tentang-kami .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.tentang-kami .row .content p{
    font-weight: 100;
    font-size: 1.2rem;
}



.menu  h1,
.contact h1{
    margin-bottom: -0.7rem;
    padding:7rem 7% 1rem;
}

.menu  p,
.contact p{
    text-align: center;
    margin:auto;
    max-width: 30rem;
    font-weight: 100;
}
.menu .row{
    display: flex;
    padding: 1.4rem 0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
.menu-kami{
    padding: 1.4rem 3%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-kami img{
    border-radius: 50%;
    object-position: center;
}
.menu-title .title-kopi{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.menu-title .menu-price{
    font-size: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
}

/* Kontak */
.contact .row {
  display: flex;
  align-items: center;
  padding:1.4rem 7%;
  margin-top: 2rem;
  
}

.contact .row .map{
  flex:1 1 45rem;
  width: 100%;
  object-fit: cover;
  height: 30rem;

}
.contact .row form{
  flex: 1 1 45rem;
  width: 100%;
  padding:2rem 5rem;
  height: 30rem;
  background-color: #5e5b5b88;
  padding-top: 2rem;
  text-align: center;
  
}

.contact .row .input-group{
  display: flex;
  background-color: var(--bg);
  border: 1px solid #eee;
  align-items: center;
  padding-left: 1.5rem;
  margin-top:1.5rem;
  
}

.contact .row .input-group input{
  width: 100%;
  background: none;
  color:white;
  padding:1.5rem 2rem;
  font-size: 1.6rem;
}

.contact .row .btn{
  color:white;
  padding: 1rem 4rem;
  background-color: var(--primary);
  margin-top:1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
  
  
}

.footer{
  padding:1rem 0;
  margin-top:3rem;
  text-align: center;
  background-color: var(--primary);
}

.footer .socials,
.footer .links{
  padding:1rem 0;
}

.footer .socials a,
.footer .links a{
  color:white;
  margin: 0 1rem;
  font-size: 1.2rem;
  
}

.footer .socials a:hover,
.footer .links a:hover{
  color: var(--bg);
}

.credit a{
  font-weight: 700;
  color: var(--bg);
}

.menu p{
  font-size: 1.2rem;
}



/* responsif */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 77%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    right: -100%;
    top: 100%;
    height: 100vh;
    background-color: white;
    width: 30rem;
    transition: 0.3s all;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: var(--bg);
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .tentang-kami .row{
    flex-wrap: wrap;
  }
  .contact .row{
    flex-wrap: wrap;
  }
  .contact .row form{
    padding-top: 0;
  }

  .search-form {
    width: 80%;
    left:1rem;
  }
 

}
/* Mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .menu .row .menu-kami img{
    height: 50%;
  }
}
